/* components/Article/index.css */

article h2 {
    font-size: 2.5em; 
	color: black;
}
article h2 a {
	color: black;
}

/* blog "Continues..." text */
article .continue-link {
    display: block;
    text-align: right;
    font-weight: bold;
    color: tomato;
}


article {
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

article p::first-letter {
    color: lightgray;
    font-size: 6em; /* Adjust the font size as desired */
    float: left;
    margin-right: 0.5rem; /* small margin between the drop cap and text */
    line-height: 1; /* line height for the drop cap */
}
